<div class="container-fluid mx-auto">
    <div class="text-center">
        <h1>Postulate hoy mismo!</h1>
    </div>
        <div class="row mt-5">
            <div class="col-4">
            <div class="card">
                <img src="../assets/images/cc.png" class="card-img-top mx-auto mt-2" style="width:100px;">
                <div class="card-body">
                <h5 class="card-title"><strong>Capsule Corp.</strong></h5>
                <p class="card-text">Sistema de Inventario - Necesitamos un sistema que nos permita 
                    registrar las cantidades de mercancías existentes y determinar el costo de los productos vendidos.</p>
                </div>
                <footer class="card-footer">Contacto: capsulec@test.com</footer>
            </div>
            </div>
            <div class="col-4">
            <div class="card">
                <img src="../assets/images/cc.png" class="card-img-top mx-auto mt-2" style="width:100px;">
                <div class="card-body">
                <h5 class="card-title"><strong>Capsule Corp.</strong></h5>
                <p class="card-text">App Movil Android - Buscamos de una app con la que nuestro negocio se destaque, 
                    y nos ayude a construir relaciones con los clientes y que impulse la promoción de los productos.</p>
                </div>
                <footer class="card-footer">Contacto: capsulec@test.com</footer>
            </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../assets/images/ac.jpg" class="card-img-top mx-auto mt-2" style="width:100px;">
                <div class="card-body">
                    <h5 class="card-title"><strong>ACME</strong></h5>
                    <p class="card-text">Facturacion - Estamos en la busqueda de un software que nos permita gestionar y controlar el 
                        envío y recepción de facturas de nuestros bienes y servicios a nuestros clientes.</p>
                </div>
                <footer class="card-footer">Contacto: acme@test.com</footer>
                </div>
            </div>
        </div>
     
        <div class="row my-5">
            <div class="col-4">
                <div class="card">
                    <img src="../assets/images/mi.png" class="card-img-top mx-auto mt-2" style="width:100px;">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Monster Inc.</strong></h5>
                    <p class="card-text">Sitio Web - Buscamos una pagina web que brinde credibilidad ante los clientes potenciales
                         y nos ayuda a ser visibles en los buscadores.</p>
                </div>
                <footer class="card-footer">Contacto: monster@test.com</footer>
                </div>
                </div>
                <div class="col-4">
                <div class="card">
                    <img src="../assets/images/kc.jpg" class="card-img-top mx-auto mt-2" style="width:100px;">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Kaiba Corp.</strong></h5>
                    <p class="card-text">Buscamos una pagina web y aplicacion movil que nos pemrita gestionar y mostrar una perspectiva
                        a los futuros visitantes de nuestro parque de atracciones.
                    </p>
                    </div>
                    <footer class="card-footer">Contacto: kaibac@test.com</footer>
                </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="../assets/images/pp.jpeg" class="card-img-top mx-auto mt-2" style="width:100px;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Pizza Planet</strong></h5>
                        <p class="card-text">Sistema de Gestion de Turnos - Necesitamos un sistema que nos permita facilitar y optimizar el servicio de 
                            una manera fácil y efectiva.</p>
                    </div>
                    <footer class="card-footer">Contacto: pizzap@test.com</footer>
                    </div>
                </div>
        </div>
</div>
