<div class="container-fluid">
    <div class="row">
        <div class="col ml-3 my-auto px-5">
            <h2 class="text-center mb-3"><strong>Nuestra Misión en Puma Proyect es ofrecer a las 
                empresas soluciones eficientes y ágiles que contribuyan a la infraestructura y evolucion de la industria
                del software.</strong></h2>
            <p class="lead">
                Puma Projects nace porque creemos en el desarrollo de la tecnología y que esta hace más facíl la forma de hacer 
                negocios para todos. Nuestra visión es construir la infraestructura digital de la industria de servicios que vemos 
                en el futuro, pero que creemos podemos hacer realidad hoy en nuestro presente y así lograr cambios sustanciales en el mundo.
            </p><br>
            <p class="lead">
                Porque no perseguimos lo grande, ni perseguimos lo fuerte, simplemente alcanzamos el crecimiento de nuestro país.
            </p><br>
        </div>
        <div class="col mr-auto">
            <img src="../assets/images/us.jpg" style="height: 628px; width: 680px;" class="mb-3">
        </div>
    </div>
</div>