<div class="container">
    <div class="row mx-auto my-5">
        <div class="col-md-4 align-items-end mx-auto">
            <div class="card">
                <div class="card-header">
                    Registrate
                </div>
                <div class="card-body">
                    <form (submit)="signUp()">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="user.email" name="email" class="form-control my-4" placeholder="Email" required autofocus>

                        </div>
                        <div class="form-group">
                            <input type="password" [(ngModel)]="user.password" name="password" class="form-control mb-4" placeholder="Contraseña" required autofocus>
                        </div>
                        <!-- confirmacion de contraseña posiblemente se agregara, pero no hoy jajajaja -->
                        <!-- <div class="form-group">
                            <input type="password" [(ngModel)]="user.password" name="confirmar contraseña" class="form-control" placeholder="Confirmar Contraseña" required autofocus>
                        </div> -->
                        <button type="submit" class="btn btn-primary btn-block"> 
                            Registrarse
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

